$colorWhite: #fff;
$colorPink: #ff00ff;
$colorNavBackground: #2f4772;
$colorNavHover: #e0cfdb;
$colorLinkClick: #a1969e;
$colorMediumGray: #555555;
$colorDarkWhite: #eeeeee;
$colorLightGray: #999999;
$colorBoxShadow: #cccccc;
$colorHeavyDark: #333;
$colorBrightBlue: #38a7bb;
$colorBrightPink: #c27baa;
